body {
    text-align: center;
}

#likeBtn,
#dislikeBtn {
    padding: 0 5%;
    font-size: 40px;
}

h1,
h2 {
    color: #575757;
}

#submit,
#clear {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

#commentBox {
    width: 35%;
    height: 100px;
    margin: 0 35%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    display: block;
}

#commentBox p {
    font-size: 15px;
}